<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door-to-Door Food Delivery</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap" rel="stylesheet">
</head>

<body class="container">
    <header>
        <nav id = "navbar">
            <ul class="nav-links">
                <a href="#"><img class="logo" src="/logooo.png"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
            </ul> 
            <div class="userprofile"> 
                <button onclick="window.location.href = '/profile' " class="btn_profile">Profile</button>
            </div>
        </nav>
    </header>